/**
 * ------------------------------------------------------------------------------
 * 表格头部样式
 */
.table_header{
    background: #0F5F7E;
    color: white;
    font-size: 16px;
    height: 60px;
}
.table_header > .ul_wrap{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px #909090 solid;
}
.table_header > .ul_wrap > .li_wrap{
    flex: 1;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: larger;
}
.table_header > .ul_wrap > .operation{
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 2px;
    font-size: larger;
}

/**
 * ------------------------------------------------------------------------------
 * 表格内容样式
 */
.no_content{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_content{
    max-height: 400px;
}
.table_content > .ul_wrap{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px #909090 solid;
}
.table_content > .ul_wrap > .li_wrap{
    flex: 1;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.table_content > .ul_wrap > .operation{
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #E7ECF0;
    font-size: large;
}
.edit,.delete{
    margin: 0 10px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.edit{
    color: #0F5F7E;
}
.delete{
    color: red;
}

/**
 * ------------------------------------------------------------------------------
 * 表格分页样式
 */
.table_pagination{
    width: 100%;
}
.pageWrap{
    list-style: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.page_text{
    margin: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #0F5F7E;
    cursor: pointer;
}
.page_text_disable{
    margin: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #83888a;
    background: #83888a;
}
.page_text_active,.page_text:hover{
    background: #0F5F7E;
    color: white;
}
#page_next,#page_pre{
    width: 80px;
}
.page_no{
    width: 30px;
}
.page_total{
    margin: 0 30px;
}
.total_num{
    display: inline-block;
    margin: 0 3px;
    color: #0F5F7E;
    font-size: 15px;
}